annotated-types==0.6.0
appdirs==1.4.4
appnope==0.1.3
asttokens==2.4.1
attrs==22.2.0
autocommand==2.2.2
beautifulsoup4==4.11.2
bleach==6.0.0
certifi==2022.9.14
charset-normalizer==2.1.1
cheroot==10.0.0
CherryPy==18.9.0
comm==0.2.0
contourpy==1.2.1
cycler==0.12.1
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
docutils==0.19
exceptiongroup==1.1.3
executing==2.0.1
fastjsonschema==2.16.2
fonttools==4.51.0
idna==3.4
importlib-metadata==6.8.0
importlib_resources==6.4.0
inflect==7.0.0
introcs==1.3.1
ipykernel==6.26.0
ipython==8.17.2
jaraco.collections==5.0.0
jaraco.context==4.3.0
jaraco.functools==4.0.0
jaraco.text==3.12.0
jedi==0.19.1
Jinja2==3.1.2
jsonschema==4.17.3
jupyter_client==8.6.0
jupyter_core==5.5.0
jupyterlab-pygments==0.2.2
Kivy==2.1.0
Kivy-Garden==0.1.5
kiwisolver==1.4.5
MarkupSafe==2.1.2
matplotlib==3.8.4
matplotlib-inline==0.1.6
mistune==2.0.5
more-itertools==10.1.0
nbclient==0.7.2
nbconvert==7.2.9
nbformat==5.7.3
nest-asyncio==1.5.8
notebook-as-pdf==0.5.0
numpy==1.23.3
oauthlib==3.2.2
packaging==24.0
pandas==2.1.4
pandocfilters==1.5.0
parso==0.8.3
pexpect==4.8.0
Pillow==9.2.0
platformdirs==4.0.0
plotly==5.21.0
portend==3.2.0
prompt-toolkit==3.0.40
psutil==5.9.6
ptyprocess==0.7.0
pure-eval==0.2.2
pydantic==2.5.2
pydantic_core==2.14.5
pyee==8.2.2
Pygments==2.16.1
pyparsing==3.1.2
PyPDF2==3.0.1
pyppeteer==1.0.2
pyrsistent==0.19.3
python-dateutil==2.8.2
pytz==2023.3.post1
pyzmq==25.1.1
requests==2.28.1
six==1.16.0
soupsieve==2.4
stack-data==0.6.3
tempora==5.5.0
tenacity==8.2.3
tinycss2==1.2.1
tornado==6.3.3
tqdm==4.64.1
traitlets==5.13.0
typing_extensions==4.8.0
tzdata==2023.3
urllib3==1.26.12
wcwidth==0.2.9
webencodings==0.5.1
websockets==10.4
zc.lockfile==3.0.post1
zipp==3.17.0
